<div class="panel">
  <%= render 'layouts/admin/file_uploader_tabs' %>
  <br>
  <%= render 'form' %>
</div>

<div class="panel lower-panel">
  <h2><small> Uploaded Calendars </small></h2>

  <table>
    <thead>
      <th> Name </th>
      <th> Most Current? </th>
      <th> Edit/Delete </th>
    </thead>

    <tbody>
      <% @calendars.each do |calendar| %>
        <tr>
          <td> <%= link_to "#{calendar.title}", calendar.calendar_file.url %> </td>
          <td> <%= calendar == @current_calendar %> </td>
          <td> 
            <%= link_to "Edit", edit_admin_calendar_path(calendar) %> /
            <%= link_to "Delete", admin_calendar_path(calendar), method: :delete, 
                  data: { confirm: "Are you sure?" } %>
          </td>        
        </tr>
      <% end %>
    </tbody>
  </table>
</div>