<!-- Activities -->
<main>
 <h2 class="text-center"> Playing and Learning Go Hand-in-Hand </h2>
 <br>

 <div class="row panel text-center">
   <h3 id="OpeningGroup"> Opening Group </h3>
   <p> This time together allows us to begin our day with a greeting and a smile. Activities during opening group may include calendar time, book sharing, writing practice, listening activities, and music. </p>
   <ul class="small-block-grid-1 medium-block-grid-3">
      <li> 
        <%= image_tag "Activity Pics/OpeningGroup1.jpg", :alt=>"A blue table plus white shaving cream equals a fun way to practice writing" %> 
      </li>
      <li> 
        <%= image_tag "Activity Pics/OpeningGroup2.jpg", :alt=>"So many fun ways to practice our writing!" %> 
      </li>
      <li> 
        <%= image_tag "Activity Pics/OpeningGroup3.jpg", :alt=>"Two children greeting each other using hand puppets" %>
      </li>
    </ul>
 </div>

 <div class="row panel text-center">
    <h3 id="Snack"> Snack Time </h3>
    <p> This is a very language-rich part of our day. A nutritious snack time, not only provides the opportunity to learn healthy eating habits, but also encourages students to practice social language and manners. </p>
    <ul class="small-block-grid-1 medium-block-grid-3">
      <li> 
        <%= image_tag "Activity Pics/Snack1.jpg", :alt=>"Washing our hands to make a snowman snack" %>
      </li>
      <li> 
        <%= image_tag "Activity Pics/Snack2.jpg", :alt=>"Cutting a sandwich" %> 
      </li>
      <li> 
        <%= image_tag "Activity Pics/Snack3.jpg", :alt=>"Enjoying snack and a show" %>
      </li>
    </ul>
  </div>

 <div class="row panel text-center">
    <h3 id="Centers"> Centers </h3>
    <p>  Sometimes known as work time, this is a child-led, play-based part of the day. Students choose an area of the classroom to play in, and are encouraged to expand play schemes, social play, and time engaged in an activity. The teacher may invite a student during this time to participate in a one-on-one activity and/or assessment. </p>
    <ul class="small-block-grid-1 medium-block-grid-3">
      <li> 
        <%= image_tag "Activity Pics/Centers1.jpg", :alt=>"Building with colorful blocks" %> 
      </li>
      <li> 
        <%= image_tag "Activity Pics/Centers2.jpg", :alt=>"Water color painting" %> 
      </li>
      <li> 
        <%= image_tag "Activity Pics/Centers3.jpg", :alt=>"Reading a book to a stuffed snow man" %> 
      </li>
    </ul>
  </div>

 <div class="row panel text-center">
   <h3 id="SmallGroups"> Small Groups </h3>
   <p> Students are divided into two groups to enjoy special activities and projects related to the current theme. Groups may participate in art projects, book sharing/making, games, and pre-academic activities. </p>
    <ul class="small-block-grid-1 medium-block-grid-3">
      <li> 
        <%= image_tag "Activity Pics/SmallGroups1.jpg", :alt=>"Dinosaur math chart" %> 
      </li>
      <li> 
        <%= image_tag "Activity Pics/SmallGroups2.jpg", :alt=>"Using a measuring tape" %> 
      </li>
      <li> 
        <%= image_tag "Activity Pics/SmallGroups3.jpg", :alt=>"Foot painted purple" %> 
      </li>
    </ul>
  </div>

 <div class="row panel text-center">
   <h3 id="LargeGroup"> Large Group </h3>
   <p> Gross and fine motor movement is the focus of our large group time. We will engage in outdoor play as much as possible, but if weather is inclement, we will head inside to move and play. </p>
    <ul class="small-block-grid-1 medium-block-grid-3">
      <li> 
        <%= image_tag "Activity Pics/LargeGroup1.jpg", :alt=>"Standing, sitting, kneeling. laying, dancing on alphabet tiles" %> 
      </li>
      <li> 
        <%= image_tag "Activity Pics/LargeGroup2.jpg", :alt=>"Watching the ducks by the pond" %> 
      </li>
      <li> 
        <%= image_tag "Activity Pics/LargeGroup3.jpg", :alt=>"Donning warm winter gear for a trip outside" %> 
      </li>
    </ul>
  </div>
</main>