<!-- PhotoGallery -->
<main>

  <h1 class="text-center"> Photo Gallery </h1>

  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <div id="gallery-orbit">
        <ul data-orbit>
          <li>
            <%= image_tag "Gallery/PhotoGallery1.jpg", :alt => "Students playing with costumes" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery2.png", :alt => "Outdoor play" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery3.png", :alt => "Finger painting" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery4.png", :alt => "Boy hugging two dolls" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery5.png", :alt => "Big green hat made from paper sack" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery6.png", :alt => "Painting with a beach ball and a slide" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery7.png", :alt => "Little boy at the table" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery8.jpg", :alt => "Little girl observing an egg" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery9.jpg", :alt => "Little girl listening to egg's heartbeat" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery10.jpg", :alt => "Putting fingerpaint on bottom of foot" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery11.jpg", :alt => "Fingerpanting with cups to make circles" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery12.jpg", :alt => "Making crafts with glue and Fruit Loops" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery13.jpg", :alt => "Two boys working on crafts together" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery14.jpg", :alt => "Boy and girl with clown noses" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery15.jpg", :alt => "Little boy showing his project" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery16.jpg", :alt => "Boy playing with toys on the floor" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery17.jpg", :alt => "Three students with arms stretched forward" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery18.jpg", :alt => "Drawing on the table with shaving cream" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery19.jpg", :alt => "Circle of students having a snack on the rug" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery20.jpg", :alt => "Stuffed animals in the middle of the blanket held by students" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery21.png", :alt => "Boy smiling" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery22.jpg", :alt => "Students making hearts" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery23.jpg", :alt => "Students dressed up as policeman and fireman" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery25.png", :alt => "Girl seated with her feet in a bucket of spaghetti" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery26.jpg", :alt => "Students observing" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery27.png", :alt => "Girl playing with colorful cloth" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery28.jpg", :alt => "Boy holding trumpet and smiling" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery29.jpg", :alt => "Children painting with fingerpaint on their feet" %> 
          </li>  
          <li>
            <%= image_tag "Gallery/PhotoGallery30.jpg", :alt => "Students running across grassy field" %> 
          </li>  
        </ul>
      </div>
    </div>
  </div> 
</main>