<!-- PhotoGallery -->
<main>

  <h1 class="text-center"> Photo Gallery </h1>

  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <div id="gallery-orbit">
        <ul data-orbit>
          <li>
            <%= image_tag "Gallery/PhotoGallery1.jpg", :alt => "Students making popcorn with an air popper" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery2.jpg", :alt => "Two boys creating a picture together" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery3.jpg", :alt => "Students in Husker gear, lining up for hotdogs" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery4.jpg", :alt => "Children walking around in homemade shoes made from empty milk gallons" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery5.jpg", :alt => "Snack time still includes learning - spelling out words with crackers shaped like letters" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery6.jpg", :alt => "Three students creating art together with tissue paper" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery7.jpg", :alt => "Pumpkin painting" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery8.jpg", :alt => "Working in the kitchen together" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery9.jpg", :alt => "Painting with water colors" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery10.jpg", :alt => "Stirring up something good" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery11.jpg", :alt => "Making holiday decorations" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery12.jpg", :alt => "Cruising down the slide on the indoor play structure" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery13.jpg", :alt => "Making art from empty gallon jugs" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery14.jpg", :alt => "Making a chart of the seasons" %>          
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery15.jpg", :alt => "Small group working together" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery16.jpg", :alt => "Making silly hair out of playdough" %>
          </li>
          <li>
            <%= image_tag "Gallery/PhotoGallery17.jpg", :alt => "Girl showing off her pink playdough creation on a doll" %> 
          </li>  
        </ul>
      </div>
    </div>
  </div> 
</main>