<div class="panel">
  <%= render 'layouts/admin/file_uploader_tabs' %>
  <h2><small>Update Handbook</small></h2>
  <%= render 'form' %>
</div>

<div class="panel lower-panel">
  <h2><small> Current Handbook </small></h2>

  <div class="row">
    <div class="medium-6 columns">
      Year: <%= @handbook.year %>
    </div>
    <div class="medium-6 columns">
      Updated: <%= date_to_s(@handbook.updated_at) %>
    </div>
  </div>
  <br>
  <div class="row">
    <object data="<%= @handbook.file.url %>" type="application/pdf" 
      class="small-12 columns embedded-pdf">
      <p>
        It appears you don't have a PDF plugin for this browser.
        No problem... You can <a href="<%= @handbook.file.url %>">click here to
        download the PDF file.</a>
      </p>     
    </object>
  </div>

</div>