<div class="panel">
  <%= render 'layouts/admin/file_uploader_tabs' %>
  <h2><small>Update Registration Form</small></h2>
  <%= render 'form' %>
</div>

<div class="panel lower-panel">
  <h2><small> Current Registration Form </small></h2>

  <div class="row">
    <div class="medium-6 columns">
      Year: <%= @registration_form.year %>
    </div>
    <div class="medium-6 columns">
      Updated: <%= date_to_s(@registration_form.updated_at) %>
    </div>
  </div>
  <br>
  <div class="row">
    <object data="<%= @registration_form.file.url %>" type="application/pdf" 
      class="small-12 columns embedded-pdf">
      <p>
        It appears you don't have a PDF plugin for this browser.
        No problem... You can <a href="<%= @registration_form.file.url %>">click here to
        download the PDF file.</a>
      </p>     
    </object>
  </div>