<div class="panel">
  <h2>Edit Account Details</h2>

  <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :patch }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :password, "New Password" %> 
      <br>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Leave blank if you don't want to change your password" %>
    </div>

    <div><%= f.label :password_confirmation, "New Password Confirmation" %><br>
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.label :current_password %>
      <br>
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter current password to confirm your changes" %>
    </div>

    <div><%= f.submit "Update", :class => "button expand secondary" %></div>
  <% end %>

  <br>

  <%= link_to "Back", :back %>
</div>