<!-- PARENT SITE -->
<div class="row show-for-large-up">
  <nav role="navigation">
    <ul class="footer-nav">
      <li> <%= nav_link_to "Peek", parents_peek_current_path, {}, 
        {:selected_class => "current"} %> 
      </li>
      <li> <%= nav_link_to "Calendar", parents_calendar_path,
         {}, {:selected_class => "current"} %> 
       </li>
      <li> <%= nav_link_to "Newsletters", parents_newsletter_current_path, {}, 
        {:selected_class => "current"} %> 
      </li>
      <li> <%= nav_link_to "Announcements", parents_announcements_path,
         {}, {:selected_class => "current"} %> </li>
      <li> 
        <%= link_to "My Account", '#', :class => "dropdown-menu-trigger" %>
        <%= render 'layouts/parents/account_button' %>
      </li>
    </ul>
  </nav>
</div>
<div class="row">
  <hr>
  <div class="small-12 columns text-center">
    <% if admin_logged_in? %>
      <%= link_to "Dashboard", admin_root_path %>
      <br> <br>
    <% end %>

    <p class="text-center"> <small> Website by Abby Jones </small> </p> 
    <p class="text-center"> 
      <small> 
        <a href="mailto:hello@abbyjones.net"> Email: hello@abbyjones.net </a> | 
        <a href="https://twitter.com/AbbyJones80"> Tweet: @AbbyJones80 </a> 
      </small> 
    </p>
  </div>
</div>  
