<!-- PARENT SITE -->
<div class="row show-for-large-up">
  <nav class="top-bar parent-footer-nav" data-topbar role="navigation">
    <section class="top-bar-section">
      <ul>
        <li> <%= nav_link_to "Announcements", parents_announcements_path,
           {}, {:selected_class => "current"} %> 
        </li>
        <li class="has-dropdown"> 
          <%= link_to "Curriculum", '#' %>
          <ul class="dropdown">
            <li><%= link_to "Peek", parents_curriculum_current_peek_path %></li>
            <li><%= link_to "Vocabulary", parents_curriculum_current_vocab_path %></li>
            <li><%= link_to "Units", '#' %></li>
          </ul>
        </li>
        <li> <%= nav_link_to "Newsletters", parents_newsletter_current_path,
           {}, {:selected_class => "current"} %> 
        </li>
        <li> <%= nav_link_to "Contacts", parents_class_contact_lists_path, {},
           {:selected_class => "current"} %> 
        </li>
        <li class="has-dropdown"> 
          <%= link_to "General", '#' %>
          <ul class="dropdown">
            <li><%= link_to "Sign Up Genius", 'http://www.signupgenius.com/' %></li>
            <li><%= link_to "Calendar", parents_calendar_path %></li>
            <li><%= link_to "Handbook", parents_handbook_path %></li>
            <li><%= link_to "Registration", parents_registration_form_path %></li>
            <li><%= link_to "Main Site", root_path %></li>
          </ul>
        </li>
        <li class="has-dropdown"> 
          <%= link_to "My Account", '#' %>
          <%= render 'layouts/parents/account_button' %>
        </li>
      </ul>
    </section>
  </nav>
</div>

<div class="row">
  <hr>
  <div class="small-12 columns text-center">
    <% if admin_logged_in? %>
      <%= link_to "Dashboard", admin_root_path %>
      <br> <br>
    <% end %>
  </div>
</div>  
