<!-- PARENT BANNER -->

<!-- Tablet/Desktop Banner and Nav -->
<%= link_to parents_root_path, :class => "show-for-large-up" do %>
  <%= image_tag 'parent_banner.jpg', :class => "banner", :alt => "Here We Grow Parents" %>
<% end %>        

<nav class="top-bar show-for-large-up" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul>
      <li> <%= nav_link_to "Announcements", parents_announcements_path,
         {}, {:selected_class => "current"} %> 
      </li>
      <li class="has-dropdown"> 
        <%= link_to "Curriculum", '#' %>
        <ul class="dropdown">
          <li><%= link_to "Peek", parents_curriculum_current_peek_path %></li>
          <li><%= link_to "Vocabulary", parents_curriculum_current_vocab_path %></li>
          <li><%= link_to "Units", '#' %></li>
        </ul>
      </li>
      <li> <%= nav_link_to "Newsletters", parents_newsletter_current_path,
         {}, {:selected_class => "current"} %> 
      </li>
      <li> <%= nav_link_to "Contacts", parents_class_contact_lists_path, {},
         {:selected_class => "current"} %> 
      </li>
      <li class="has-dropdown"> 
        <%= link_to "General", '#' %>
        <ul class="dropdown">
          <li><%= link_to "Sign Up Genius", 'http://www.signupgenius.com/' %></li>
          <li><%= link_to "Calendar", parents_calendar_path %></li>
          <li><%= link_to "Handbook", parents_handbook_path %></li>
          <li><%= link_to "Registration", parents_registration_form_path %></li>
          <li><%= link_to "Main Site", root_path %></li>
        </ul>
      </li>
      <li class="has-dropdown"> 
        <%= link_to "My Account", '#' %>
        <%= render 'layouts/parents/account_button' %>
      </li>
    </ul>
  </section>
</nav>

<!-- Mobile Banner and Nav -->
<div class="row hide-for-large-up">
  <%= nav_link_to('#') do %>
    <%= image_tag "mobile_parent_banner.jpg", :alt => "Here We Grow Parents" %>
  <% end %>
  <div class="small-12 columms">
    <nav role="navigation">
      <a href="#" class="mobile-nav-button small-12 columns">See More</a>
        <ul class="mobile-dropdown-menu no-bullet hide">   
          <li> <%= nav_link_to "Announcements", parents_announcements_path,
             {}, {:selected_class => "current"} %> 
          </li>
          <li class="mobile-sub-menu-link"> 
            <%= link_to "Curriculum", '#' %>
            <ul class="mobile-sub-menu hide">
              <li><%= link_to "Peek", parents_curriculum_current_peek_path %></li>
              <li><%= link_to "Vocabulary", parents_curriculum_current_vocab_path %></li>
              <li><%= link_to "Units", '#' %></li>
            </ul>
          </li>
          <li> <%= nav_link_to "Newsletters", parents_newsletter_current_path,
             {}, {:selected_class => "current"} %> 
          </li>
          <li> <%= nav_link_to "Contacts", parents_class_contact_lists_path, {},
             {:selected_class => "current"} %> 
          </li>
          <li class="mobile-sub-menu-link"> 
            <%= link_to "General", '#' %>
            <ul class="mobile-sub-menu hide">
              <li><%= link_to "Sign Up Genius", 'http://www.signupgenius.com/' %></li>
              <li><%= link_to "Calendar", parents_calendar_path %></li>
              <li><%= link_to "Handbook", parents_handbook_path %></li>
              <li><%= link_to "Registration", parents_registration_form_path %></li>
              <li><%= link_to "Main Site", root_path %></li>
            </ul>
          </li>
          <li class="mobile-sub-menu-link"> 
            <%= link_to "My Account", '#' %>
            <%= render 'layouts/parents/account_button' %>
          </li>
        </ul>
    </nav>
  </div>
</div>