<div class="panel">
  <%= render 'layouts/admin/file_uploader_tabs' %>
  <h2><small> 
    <strong>Update Class Contact List: </strong>
    <%= @class_contact_list.group.name %>
  </small></h2>
  <br>
  <%= render 'form' %>
</div>

<div class="panel lower-panel">
  <h2><small> Class Contact Lists </small></h2>

  <table>
    <thead>
      <th> Class </th>
      <th> Uploaded </th>
      <th> Edit </th>
    </thead>

    <tbody>
      <% @class_contact_lists.each do |class_contact_list| %>
        <tr>
          <td> 
            <%= link_to "#{class_contact_list.group.name}", class_contact_list.file.url %> 
          </td>
          <td> <%= date_to_s(class_contact_list.updated_at) %> </td>
          <td> 
            <%= link_to "Edit", edit_admin_class_contact_list_path(class_contact_list) %>
          </td>        
        </tr>
      <% end %>
    </tbody>
  </table>
</div>