<ul id="dashboard_nav" class="side-nav">
  <li class="admin-button-green">
    <%= link_to "Peek of the Week Uploader", '#' %>
  </li>
  <li class="admin-button-orange">
    <%= link_to "Volunteer Opportunities", '#' %>
  </li>
  <li class="admin-button-green">
    <%= link_to "Snack Options", '#' %>
  </li>
  <li class="admin-button-orange">
    <%= link_to "Conference Times", '#' %>
  </li>
  <li class="admin-button-green">
    <%= link_to "Account Management", admin_parents_path %>
  </li>
  <li class="admin-button-orange">
    <%= link_to "Classes", admin_classes_path %>
  </li>
  <li class="admin-button-green">
    <%= link_to "File Uploader", admin_calendars_path %>
  </li>
</ul>