<%= form_for [:admin, @announcement], multipart: true do |f| %>

  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <p>
        <%= pluralize(@announcement.errors.count, "error") %> prevented this announcement from being saved:
      </p>
      <ul>
        <% @announcement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="medium-12 columns">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name, placeholder: "For subject line in email and heading on website" %>
    </div>

    <div class="medium-12 columns">
      <%= f.label :message %>
      <%= f.text_area :message, placeholder: "For body of email and main text on website" %>
    </div>
    
    <div class="medium-6 columns">
      <%= f.label :expires_on %>
      <%= f.text_field :expires_on, :placeholder => "mm/dd/yyyy", id: "visible-date-field",
        :value => @announcement.try(:expires_on).try(:strftime,'%m-%d-%y') %>
      <%= f.hidden_field :expires_on, id: "hidden-date-field" %>
    </div>

    <div class="medium-6 columns" id="announcement-classes">
      <label> Which classes should see this announcement? </label>
      <%= f.check_box :all_classes %>
      <%= f.label :all_classes, "All Classes" %>
      <%= check_box_tag :selected_classes, 
        value = @announcement.all_classes? ? '0' : '1', 
        checked = @announcement.all_classes? ? false : 'checked', 
        :id => "announcement_select_classes", data: {klasses: @klasses} %>
      <label> Select Classes </label>
    </div>

    <% if ! @announcement.all_classes? %>
      <div id="class_list_options" class="medium-12 columns">
        <%= select_tag "announcement[group_ids][]", options_for_select(@klasses, 
        selected = @announcement.group_ids), {multiple: true} %>
      </div>
    <% end %>
  </div>
  
  <div class="medium-12 columns" id="icon-select">
    <%= f.hidden_field :icon_id, :value => @announcement.icon_id %>
    <ul class="small-block-grid-2 medium-block-grid-3">
    <li>
      <%= image_tag 'public/../../logo-icon.jpg' %>
    </li>
    <% @icons.all.each do |icon| %>
      <li>
        <%= image_tag icon.image.url(:thumb), :data => {:icon_id => icon.id} %>
      </li>
    <% end %> 
    <li>
      <%= link_to "Upload New Icon", admin_icons_path, id: "new_icon_link",
        data: {confirm: "Any unsaved changes will be lost.  Would you like to continue?"}
       %>
    </li>
  </ul>
  </div>

  <br>

  <div class="row">
    <div class="medium-2 columns">
      <%= f.submit "Submit" %>
    </div>
    <div class="medium-2 columns">
      <%= link_to "Cancel", admin_announcements_path, id: "cancel_announcement" %>
    </div>
  </div>
<% end %>
