<%= form_for [:admin, @group] do |f| %>

  <div class="row">
    <div class="medium-12 columns">
      <%= f.label :name, "Class Name:" %>
      <%= f.text_field :name %>
    </div>
  
    <div class="medium-6 columns">
      <div class="medium-1 columns">
        <%= f.label :days_monday, "Monday" %>
      </div>   
      <div class="medium-11 columns">
        <%= f.check_box :days, {:multiple => true}, "Monday" %>
      </div>
      <div class="medium-1 columns">
        <%= f.label :days_tuesday, "Tuesday" %>
      </div>   
      <div class="medium-11 columns">
        <%= f.check_box :days, {:multiple => true}, "Tuesday" %>
      </div>
      <div class="medium-1 columns">
        <%= f.label :days_wednesday, "Wednesday" %>
      </div>   
      <div class="medium-11 columns">
        <%= f.check_box :days, {:multiple => true}, "Wednesday" %>
      </div>
      <div class="medium-1 columns">
        <%= f.label :days_thursday, "Thursday" %>
      </div>   
      <div class="medium-11 columns">
        <%= f.check_box :days, {:multiple => true}, "Thursday" %>
      </div>
      <div class="medium-1 columns">
        <%= f.label :days_friday, "Friday" %>
      </div>   
      <div class="medium-11 columns">
        <%= f.check_box :days, {:multiple => true}, "Friday" %>
      </div>
    </div>

    <div class="medium-6 columns">
      <%= f.label :start_time, "Begins:" %>
      <%= f.text_field :start_time %>

      <%= f.label :end_time, "Ends:" %>
      <%= f.text_field :end_time %>
    </div>

    <div class="medium-12 columns">
      <%= f.submit "Submit" %>
    </div>

  </div>

<% end %>