<div class="panel">
  <h1 class="text-center"><small>Classes</small></h1>
  <%= render 'form' %>
</div>

<div class="panel lower-panel">
  <h2><small> Current Classes </small></h2>

  <table>
    <thead>
      <th> Name </th>
      <th> Days </th>
      <th> Start </th>
      <th> End </th>
      <th> Edit/Delete </th>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td> <%= group.name %> </td>
          <td> <%= arr_to_s(group.days) %> </td>
          <td> <%= time_to_s(group.start_time) %> </td>
          <td> <%= time_to_s(group.end_time) %> </td>
          <td> 
            <%= link_to "Edit", edit_admin_class_path(group)  %> /
            <%= link_to "Delete", admin_class_path(group), method: :delete, 
                  data: { confirm: "Are you sure?" } %>
          </td>        
        </tr>
      <% end %>
    </tbody>
  </table>
</div>