<%= form_for [:admin, @user] do |f| %>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :fname, "First Name:" %>
      <%= f.text_field :fname %>
    </div>
    <div class="medium-6 columns">
      <%= f.label :lname, "Last Name:" %>
      <%= f.text_field :lname %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %>
    </div>
    <div class="medium-6 columns">
      <%= f.label :group_ids, "Class:" %>
      <%= f.select :group_ids, options_from_collection_for_select(@groups, 'id', 'name') %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.label :active, "Status:" %>
      <div class="medium-6 columns">
        <%= f.label :active, "Active", style: "display:inline" %>
        <%= f.radio_button :active, true %>
      </div>
      <div class="medium-6 columns">
        <%= f.label :active, "Inactive", style: "display:inline" %>
        <%= f.radio_button :active, false %>
      </div>
    </div>
    <div class="medium-6 columns">
      <br>
      <%= link_to "Click to Set Password", '#', :id => "edit_password_field" %>
    </div>
  </div>

  <div class="row">
    <div class="medium-2 columns">
      <%= f.submit "Create" %>
    </div>
  </div>
<% end %>

