<div class="panel">
  <h1 class="text-center"><small>Parent Accounts</small></h1>
  <%= render "form" %>
</div>

<div class="panel lower-panel">
  <% if @inactive %>
    <h2><small> Inactive Accounts </small></h2>
    <%= link_to "View current accounts", admin_parents_path %>
  <% else %>
    <h2><small> Current Accounts </small></h2>
    <%= link_to "View inactive accounts", admin_parents_path(inactive: 'true') %>
  <% end %>

  <table>
    <thead>
      <th> Name </th>
      <th> Class </th>
      <th> Edit/Delete </th>
    </thead>

    <tbody>
      <% @parents.each do |parent| %>
        <tr>
          <td> <%= full_name(parent) != '' ? full_name(parent) : parent.email %> </td>
          <td> <%= klass_names(parent) %> </td>
          <td>
            <%= link_to "Edit", edit_admin_parent_path(parent)  %> /
            <%= link_to "Delete", admin_parent_path(parent), method: :delete,
                  data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
