      <!-- Tablet/Desktop Banner and Nav -->
<div class="row show-for-large-up">
  <div class="large-12 columns">
    <nav role="navigation">
      <ul class="desktop-nav">
        <li> <%= nav_link_to "Home", root_path, {}, 
          {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "About Us", about_us_path, {}, 
          {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Schedule", schedule_path, {}, 
          {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Register", register_path, {}, 
          {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Photo Gallery", photo_gallery_path, {}, 
          {:selected_class => "current"} %> </li>
        <%= render 'layouts/login_button' %>
      </ul>
    </nav>
  </div>

  <%= nav_link_to(root_path) do %>
    <%= image_tag 'ResponsiveBanner.jpg', :class => "banner", :alt => "Here We Grow Preschool" %>
  <% end %>        
</div>



<!-- Mobile Banner and Nav -->
<div class="row hide-for-large-up">
  <%= nav_link_to(root_path) do %>
    <%= image_tag "ResponsiveBanner-Mobile.jpg", :alt => "Here We Grow Preschool" %>
  <% end %>
  <div class="small-12 columms">
    <nav role="navigation">
      <a href="#" class="mobile-nav-button small-12 columns">Learn More</a>
        <ul class="mobile-dropdown-menu no-bullet hide">   
          <li> <%= nav_link_to "Home", root_path, {}, {
            :selected_class => "current"} %> </li>
          <li> <%= nav_link_to "About Us", about_us_path, {}, 
            {:selected_class => "current"} %> </li>
          <li> <%= nav_link_to "Schedule", schedule_path, {}, 
            {:selected_class => "current"} %> </li>
          <li> <%= nav_link_to "Register", register_path, {}, 
            {:selected_class => "current"} %> </li>
          <li> <%= nav_link_to "Photo Gallery", photo_gallery_path, {}, 
            {:selected_class => "current"} %> </li>
          <%= render 'layouts/login_button' %>
        </ul>
    </nav>
  </div>
</div>