<div class="row show-for-large-up">
  <nav role="navigation">
    <ul class="footer-nav">
      <li> <%= nav_link_to "Home", root_path, {}, {
        :selected_class => "current"} %> </li>
      <li> <%= nav_link_to "About Us", about_us_path, {}, 
        {:selected_class => "current"} %> </li>
      <li> <%= nav_link_to "Schedule", schedule_path, {}, 
        {:selected_class => "current"} %> </li>
      <li> <%= nav_link_to "Register", register_path, {}, 
        {:selected_class => "current"} %> </li>
      <li> <%= nav_link_to "Photo Gallery", photo_gallery_path, {}, 
        {:selected_class => "current"} %> </li>
      <%= render 'layouts/login_button' %>
    </ul>
  </nav>
</div>
<div class="row">
  <hr>
  <div class="small-12 columns text-center">
    <% if admin_logged_in? %>
      <%= link_to "Dashboard", admin_root_path %>
      <br> <br>
    <% end %>    

    <p class="text-center"> <small> Website by Abby Jones </small> </p> 
    <p class="text-center"> 
      <small> 
        <a href="mailto:hello@abbyjones.net"> Email: hello@abbyjones.net </a> | 
        <a href="https://twitter.com/AbbyJones80"> Tweet: @AbbyJones80 </a> 
      </small> 
    </p>
  </div>
</div>  
