<div class="row show-for-large-up">
  <nav role="navigation">
    <ul class="footer-nav">
      <li> <%= link_to "Home", root_path, :class => (@home ? "current" : nil) %> </li>
      <li> <%= link_to "About Us", about_us_path, :class => (@about ? "current" : nil) %> </li>
      <li> <%= link_to "Schedule", schedule_path, :class => (@sched ? "current" : nil) %> </li>
      <li> <%= link_to "Register", register_path, :class => (@reg ? "current" : nil) %> </li>
      <li> <%= link_to "Photo Gallery", photo_gallery_path, :class => (@photo ? "current" : nil) %> </li>
      <%= render 'layouts/login_button' %>
    </ul>
  </nav>
</div>
<div class="row">
  <hr>
  <div class="small-12 columns">
    <p class="text-center"> <small> Website by Abby Jones </small> </p> 
    <p class="text-center"> 
      <small> 
        <a href="mailto:abbyjonesdev@gmail.com"> Email: abbyjonesdev@gmail.com </a> | 
        <a href="https://twitter.com/AbbyJones80"> Tweet: @AbbyJones80 </a> 
      </small> 
    </p>
  </div>
</div>  
