<!-- PARENT BANNER -->

<!-- Tablet/Desktop Banner and Nav -->
<div class="row show-for-large-up">
  <div class="large-12 columns">
    <nav role="navigation">
      <ul class="desktop-nav">
        <li> <%= nav_link_to "Peek", peek_path, {}, {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Calendar", '#', {}, {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Snack", '#',  {}, {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Volunteer", '#', {}, {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Account", '#', {:selected_class => "current"} %> </li>
        <%= render 'layouts/login_button' %>
      </ul>
    </nav>
  </div>

  <%= nav_link_to('#') do %>
    <%= image_tag 'parent_banner.jpg', :class => "banner", :alt => "Here We Grow Parents" %>
  <% end %>        
</div>



<!-- Mobile Banner and Nav -->
<div class="row hide-for-large-up">
  <%= nav_link_to('#') do %>
    <%= image_tag "mobile_parent_banner.jpg", :alt => "Here We Grow Parents" %>
  <% end %>
  <div class="small-12 columms">
    <nav role="navigation">
      <a href="#" class="mobile-nav-button small-12 columns">See More</a>
        <ul class="mobile-dropdown-menu no-bullet hide">   
        <li> <%= nav_link_to "Peek", '#', {}, {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Calendar", '#', {}, {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Snack", '#', {}, {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Volunteer", '#', {}, {:selected_class => "current"} %> </li>
        <li> <%= nav_link_to "Account", '#', {:selected_class => "current"} %> </li>
        <%= render 'layouts/login_button' %>
        </ul>
    </nav>
  </div>
</div>